body {
  margin: 0px;
  padding: 0px;
}

/* Home section */
#home {
  background-image: url(images/donation14.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  margin-bottom: 80px;
}

.home-text {
  text-align: center;
  padding: 150px 200px;
  color: rgb(242, 249, 255);
}


/* Donate today section */
.donate {
  text-align: center;
  margin-bottom: 90px;
}

.donate-today {
  text-align: center;
}

hr {
  margin: 15px 150px;
}

.amounts {
  display: flex;
  justify-content: center;
}

.amount-of-tk {
  padding: 42px 20px;
  margin: 19px 19px;
  background-color: #e5e5e5;
  border: navajowhite;
  color: rgb(118 117 117);
  font-weight: 500;
  font-size: 47px;
}

#clicked-amount {
  border: 3px solid red;
  border-radius: 10px;
  color: red;
  background-color: #ffcece;
}

#other {
  color: rgb(154, 148, 148);
}

/* Donation plan section  */

#donation-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.plan-box {
  display: flex;
}

.plans {
  padding: 70px 22px;
  margin: 6px 20px;
  border-radius: 4px
}

#box-1 {
  background-color: #e9fded;
}

#box-2 {
  background-color: #ffe3e7d6;
}

#box-3 {
  background-color: #fffbd5;
}
/* Update section  */
#update-sec {
  margin-bottom: 150px;
}

.update {
  text-align: center;
}

.email-subscribe {

  margin: 37px 332px;
  background-color: #fffaeb
}

.both-divisions {
  display: flex;
  justify-content: center;
}

.email p {
  text-align: start;
  padding-left: 3px;
  padding-right: 194px;
  background-color: #ebebeb;
  color: #8d8d8d;
}

.common {

  padding: 11px 61px;
  margin: 100px 0px;
}

.subscribe p {
  background-color: tomato;
  color: white;
}

/* footer section  */
footer {
  text-align: center;
  background-color: #3a383a;
  color: white;
  padding: 26px 4px;
  margin-top: 40px;
}

footer h3 {
  font-family: 'Courgette', cursive;
  color: tomato;
}

/* classes used in many tags  */
h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

.text-color {
  color: rgb(144, 144, 144);
  font-size: 17px;
}

.btn {
  padding: 14px 31px;
  border-radius: 4px;
  background-color: tomato;
  color: white;
  border: none;
  font-weight: 400;
  font-size: 15px;
}