body{
  margin: 0;
  padding: 0;
}
.home{
   background-image: url(images/donation1.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: block;
   margin-bottom: 80px;
}
.text{
    text-align: center;
    padding: 150px 200px;
    color: aliceblue;

}
h1{
  font-size: 60px;
}

.btn{
  padding: 14px 31px;
  border-radius: 4px;
  background-color: tomato;
  color: white;
  border: none;
  font-weight: 400 ;

}

.donate{
  text-align: center;
  margin-bottom: 90px;
}
.donate-today{
display: flex;
flex-direction: column;
text-align: center;
}
hr{
  margin: 15px 90px;
}
.taka{
  display: flex;
  justify-content: center
}
.taka-lite{
    padding: 51px 48px;
    margin: 10px 23px;
    background-color: #e5e5e5;
    border: navajowhite;
    color: rgb(174, 174, 174);
    font-weight: 500;
    font-size: 47px;
}
.taka-shesh{
  text-align: center;
}

.full-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box{
  display: flex;
}
.boxes{
  padding: 70px 22px;
  margin: 6px 50px;
}
#box-1{
  background-color: #e9fded;
}
#box-2{
  background-color: #ffe3e7d6;
}
#box-3{
  background-color: #ffb4a7;
}
.update{
  text-align: center;
}
.prime{
  border: 2px solid red;
  
}










footer{
   text-align: center;
    background-color: #514e50;
    color: white;
    padding: 26px 4px;
    margin-top: 40px ;
}